
@{
    ViewBag.Title = "About";
}
<div class="jumbotron p-4 mt-5 jumbotron-trans">
    <h1>About</h1>
    <div>This project is made only for learning purpose. I am currently in a .Net training to beacome a .Net developer. 
    I had one week to learn and create an entire .net web application using ASP.Net MVC 5. Here is the result </div>
</div>
