
@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron p-4 mt-5 jumbotron-trans">
    <h1>Contact</h1>
    <h4>Hello world!</h4>
    <div>Hi folks ! I am Orlane, a young women who just dive into development those past few months.</div>
    <div>This is my first web application persormed with MVC5. I really enjoyed creating it, I hope you'll enjoy to browse it too.  </div>
    <div>Do not hesitate to contact me or just check my other projects on GitHub <a target="blank" href="https://github.com/Orl4ne">Orl4ne</a> </div>
</div>
