
@*@{
    ViewBag.Title = "Index";
}*@

    <div class="h-100 align-items-center mx-center">
        <div class="mx-center">
            <strong>@Html.ActionLink("Go to the Library","Index", "Media", new object { }, new {@class="btn btn-warning btn-lg center-screen"})</strong>
        </div>
    </div>

@*<style>
    body {
        color: black;
        background-color: white;
        background-image: url(/Content/images/Library-image.jpg);
    }
</style>*@

