
@*@{
    ViewBag.Title = "Index";
}*@

    <div class="h-100 align-items-center">
        <div class="mx-auto">
            <button class="btn btn-warning">Go to Library</button>
        </div>
    </div>

<style>
    body {
        color: black;
        background-color: white;
        background-image: url(/Content/images/Library-image.jpg);
    }
</style>

